.section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 45px;
}

.btnSection {
    font-weight: normal;
    width: 275px;
}

.btnSection:hover {
    font-weight: 600;
    color: #000000;
}

.noPrograms {
    font-size: 32px;
    color: #888888;
}
