.main{
    width: 100%;
    min-height: calc(100vh - 95px - 100px);
    background: linear-gradient(180deg, #148c88 0%,  #148c88 300px, #ffffff 300px);
    display: flex;
    gap: 55px;
    padding: 150px 80px;
}

.content{
    width: 80%;
}

.title {
    margin-top: 50px;
    font-size: 64px;
    font-weight: bold;
    color: #fff;
}

.section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 45px;
}

.btnSection {
    font-weight: normal;
    width: 275px;
}

.btnSection:hover {
    font-weight: 600;
    color: #000000;
}

.programs {
    margin-bottom: 45px;
}